.coinListContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.coinLi {
  display: flex;
  gap: 1rem;
  border: 1px solid black;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
}

.formContainer {
  display: flex;
}